@font-face {
  font-family: "Norse Bold";
  src: url("fonts/Norse-Bold.otf");
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

.odin-bg {
  flex: 1;
  height: 115vh;
  background-image: url("images/background.jpg");
  background-size: cover;
}

.banner {
  height: 20vh;
  margin-top: 25vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner>p {
  color: white;
  font-family: "Norse Bold";
  font-size: 7rem;
  padding: 0;
  margin: 0;
  line-height: 0;
}

.banner>img {
  height: 16vh;
  padding: 0;
  margin: 0;
}

.content {
  flex-direction: column;
  flex: 2;
  background-color: #f9fafb;
}

.header {
  height: 40vh;
  padding: 10rem 31rem 0 3rem;
  box-sizing: border-box;
}

h1 {
  font-size: 1.6rem;
  font-weight: 500;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.middle {
  height: 35vh;
  background-color: white;
  box-sizing: border-box;
  padding: 0.1rem 31rem 0 3rem;
  box-shadow: 0 4px 5px lightgray;
}

form {
  display: flex;
  flex-wrap: wrap;
}

form>div {
  display: flex;
  flex-direction: column;
  flex: 1 1 14vw;
  margin: 0 4vw 2vh 0;
}

label {
  font-family: "Roboto";
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: rgb(51, 51, 51);
  padding-bottom: 2px;
}

input {
  border: 1px solid lightgray;
  padding: 0.5rem;
  border-radius: 4px;
  font-family: "Roboto";
  font-size: 1rem;
}

.footer {
  height: 40vh;
  box-sizing: border-box;
  padding: 2rem 0 0 3rem;
}

button {
  background-color: #596D48;
  color: white;
  width: 15rem;
  height: 3rem;
  border: 0;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "Roboto";
  margin-bottom: 1rem;
  box-shadow: 3px 4px 5px lightgray;
}

.login {
  display: flex;
}

a {
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  line-height: 50px;
  text-decoration: none;
  color: #596D48;
  font-weight: 700;
}